<div class="contenedor-form max-w-md border border-white shadow-xl font-sans text-white">
    
    <h2 class="titulo-reserva font-bold mb-6 tracking-wide">
        Nueva reserva
    </h2>
    
    <form id="formulario-reserva" action="{{ url_for('cliente.index.index') }}" method="POST">
        
        <div class="mb-5">
            <label class="label-form block text-xs font-bold tracking-widest mb-2">NOMBRE COMPLETO</label>
            <input type="text" name="nombre" value="{{ form.nombre or '' }}" placeholder="Ej: Franco Colapinto" 
                   class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
        </div>

        <div class="mb-5">
            <label class="label-form block text-xs font-bold tracking-widest mb-2">EMAIL</label>
            <input type="email" name="email" value="{{ form.email or '' }}" placeholder="Ej: francpinto@gmail.com" 
                   class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
        </div>

        <div class="flex -mx-2 mb-5">
            <div class="w-1/2 px-2">
                <label class="label-form block text-xs font-bold tracking-widest mb-2">FECHA</label>
                <input type="date" id="fecha-reserva" name="fecha" value="{{ form.fecha or '' }}" 
           class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
</div>
            <div class="w-1/2 px-2">
                <label class="label-form  block text-xs font-bold tracking-widest mb-2">TELÉFONO</label>
                <input type="tel" name="telefono" value="{{ form.telefono or '' }}" placeholder="Ej: +54 9 11 1234 5678" 
                       class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
            </div>
        </div>

        <div class="flex -mx-2 mb-5">
            <div class="w-1/2 px-2">
                <label class="label-form  block text-xs font-bold tracking-widest mb-2">HORARIO</label>
                <select id="select-horario" name="horario"
                        data-horario-seleccionado="{{ form.horario or '' }}"
                        class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
                    <option value="" disabled selected>Seleccionar fecha</option>
                </select>
            </div>
            <div class="w-1/2 px-2">
                <label class="label-form block text-xs font-bold tracking-widest mb-2">PERSONAS</label>
                <input type="number" id="input-personas" name="personas" placeholder="2" min="1" max="5" value="{{ form.personas or '' }}" 
                       class="input-form w-full border border-transparent focus:outline-none focus:border-orange-500 text-gray-200">
            </div>
        </div>

        <div id="mensaje-error"
            class="{% if not error_reserva %}hidden{% endif %} text-red-700 px-4 py-2 rounded mb-4 text-sm font-bold text-center">
            {{ error_reserva or 'Llene todos los campos' }}
        </div>

        <div class="pt-4">
            <button type="submit" 
                    class="button-reserva w-full text-white font-bold text-base tracking-wider uppercase hover:bg-orange-600 focus:outline-none shadow-lg py-2">
                Confirmar reserva - Recibir QR
            </button>
        </div>

    </form>
</div>

<script src="{{ url_for('static', filename='js/cliente/form.js') }}"></script>