<div class="contenedor-reserva info-reserva w-full lg:w-1/2 max-w-xl">
            
    <div>
        <h2 class="titulo-reserva font-bold leading-tight tracking-tight">
            Hacé tu reserva
        </h2>
        <p class="descripcion text-lg text-gray-300 font-medium max-w-lg leading-relaxed mt-4">
            Asegurá tu lugar en UMAI! en pocos pasos. Recibirás un QR de confirmación en tu email que deberás presentar al llegar.
        </p>
    </div>
    
    <ul class="lista-detalles pt-4">
        <li class="flex items-center text-gray-200 text-lg mb-6">
            <span class="text-2xl w-8 text-center mr-4">📍</span>
            <span class="font-semibold">Av. Alicia Moreau de Justo 1890, Buenos Aires</span>
        </li>
        <li class="flex items-center text-gray-200 text-lg mb-6">
            <span class="text-2xl w-8 text-center mr-4">🕚</span>
            <span class="font-semibold">Noche: 18:30 – 01:00 hs</span>
        </li>
        <li class="flex items-center text-gray-200 text-lg mb-6">
            <span class="text-2xl w-8 text-center mr-4">📞</span>
            <span class="font-semibold">+54 11 4000-1234</span>
        </li>
        <li class="flex items-center text-gray-200 text-lg mb-6">
            <span class="text-2xl w-8 text-center mr-4">📧</span>
            <span class="font-semibold hover:text-orange-500">
                <a href="mailto:reservas@umaisushi.com.ar" class="contacto-reserva">reservas@umaisushi.com.ar</a>
            </span>
        </li>
        <li class="flex items-center text-gray-200 text-lg">
            <span class="text-2xl w-8 text-center mr-4">🗓️</span>
            <span class="font-semibold">Abierto todos los días del año</span>
        </li>
    </ul>
    
</div>