/*importo la fuente de google fonts, es importante que esto esté al principio del CSS para que se aplique a todo el documento, aunque también se podría importar en el HTML, pero así queda más ordenado y centralizado en el CSS*/
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;700;800&display=swap');

* {
    font-family: 'Sen', sans-serif;
} 

.bg-body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /*que ocupe toda la pantalla :)*/
    position: relative;
    z-index: 0; /*hace que el contenido del body quede por encima del fondo, que tiene un z-index de -1*/
    overflow-x: hidden; /*evita que aparezca la barra de scroll horizontal, por las dudas*/
    background-color: #1D1A18;
}

.bg-body::before { /*pseudo elemento: es una capa antes del contenido del body, sin esto no se ahce el patron ni se ve la imagen*/
    content: ""; /*necesario para que el pseudo elemento se muestre, aunque no tenga contenido visible*/
    position: fixed;
    inset: 0; /* top: 0, right: 0, bottom: 0, left: 0 (es lo mismo), ahce que ocupe toda la pantalla*/
    background-image: url('/static/img/Fondo.png');
    background-repeat: repeat; /*hace que la imagen se repita tanto horizontal como verticalmente, para crear un patrón de fondo*/
    background-size: 620px auto; /*ajusta el tamaño del fondo, el ancho es de 620px y el alto se ajusta automáticamente para mantener la proporción*/
    opacity: 0.06;
    z-index: -1; /*hace que el fondo quede detrás de todo el contenido del body*/
    transform: rotate(180deg); 
    transform-origin: center;
}

header {
    min-height: 90px;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;
    position: fixed;
    top: 0; /*hace que la barra de navegación quede pegada al top de la pantalla, aunque se haga scroll*/
    left: 0;
    width: 100%;
    z-index: 1000; /* hace que la barra de navegación quede por encima de TODO (una capa muy alta) el contenido, incluso del fondo, que tiene un z-index de -1*/
    box-sizing: border-box;
    padding: 0px 40px;
    background-color: #111214; 
    min-height: 80px;
    height: auto;
    margin: 0;
}

.seccion-base {
    min-height: 100vh;
    scroll-margin-top: 110px;
}

.logo img {
    display: block;
    width: 220px;
    height: auto;
}

/* --- Lista de enlaces --- */
.enlaces {
    display: flex; 
    gap: 30px; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

/* --- Limpieza básica de los textos --- */
.enlaces a {
    text-decoration: none; 
    font-weight: bold; 
}

.enlaces a:hover {
   background-color: #FF7A41; 
   color: white;
   border-radius: 10px;
}

/* --- El botón que simula estar activo ("INICIO") --- */
.boton-activo {
    padding: 8px 16px; 
    font-size: 16px;
    color: #FF7A41;
    font-family: inherit;
}


/* Media Queries para hacer el diseño responsive!!!!!!!!!*/
@media (max-width: 992px) {
    header {
        min-height: 130px;
    }

    .barra-navegacion {
        justify-content: center;
        gap: 12px;
        padding: 12px 20px;
    }

    .seccion-base {
        scroll-margin-top: 145px;
    }

    .enlaces {
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }

    .boton-activo {
        font-size: 14px;
        padding: 6px 10px;
    }

    .logo img {
        width: 180px;
    }
}

@media (max-width: 600px) {
    header {
        min-height: 150px;
    }

    .bg-body::before {
        background-size: 360px auto;
        transform: rotate(180deg);
    }


    .seccion-base {
        scroll-margin-top: 165px;
    }

    .logo h1 {
        margin: 0;
        font-size: 22px;
    }

    .logo img {
        width: 150px;
    }

    .enlaces {
        width: 100%;
        gap: 8px;
    }

    .boton-activo {
        font-size: 12px;
        padding: 6px 8px;
    }
}
