<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=24">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-inicio.css') }}?v=24">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"/>
    <title>UMAI</title>
</head>
<body class="bg-body"> 

   <header>
    <nav class="barra-navegacion">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/LOGO-NAVBAR.png') }}" alt="Logo UMAI">
        </div>
        {% include 'nav_botones.html' %}
    </nav>
</header>

<main>
    <section id="inicio" class="seccion-base">
        <div class="imagen-inicio">
            <img src="{{ url_for('static', filename='img/FOTO-INICIO.png') }}" alt="Imagen de inicio">
            <div class="imagen-inicio-overlay" aria-hidden="true"></div>
            <h1>El Arte de la Perfección Japonesa</h1>
            <div class="flex-shrink">
                <p>Una experiencia de sabor auténtico creada para redefinir el concepto del sushi tradicional.</p>
            <a href="#menu">
                <button id="boton-menu" class="bg-transparent border border-white font-semibold py-2 px-4 rounded-full transition-colors duration-300 hover:bg-white">
                    Menú
                </button>
            </a>
            <a href="#sobre-nosotros">
                <button id="boton-sobre-nosotros" class="bg-transparent border border-white font-semibold py-2 px-4 rounded-full transition-colors duration-300 hover:bg-white">
                    Más información
                </button>
            </a>
            <a href="#reservas">
                <button id="boton-reservas" class="bg-grey-500 font-semibold py-2 px-4 rounded-full transition-colors duration-300 hover:bg-white">
                    Reserva ya! <i class="fa-solid fa-chevron-right"></i>
                </button>
            </a>
            </div>
        </div>

        <div class="portadas-cards">
            <div class="portadas-card full-rounded overflow-hidden">
                <img src="{{ url_for('static', filename='img/PORTADA_CARD_1.png') }}" alt="portada 1" class="w-full h-full object-cover">
                <div class="portadas-card-overlay" aria-hidden="true"></div>
                <div class="numero-card">
                    <button type="button" class="numero-card-etiqueta">01</button>
                </div>
                <h1 class="titulo-card"><span class="titulo-card-line">Menú</span><span class="titulo-card-line">ejecutivo</span></h1>
                <p class="descripcion-card"><span class="descripcion-card-line">La alta cocina japonesa</span><span class="descripcion-card-line">a tu alcance</span></p>
            </div>
            <div class="portadas-card full-rounded overflow-hidden">
                <img src="{{ url_for('static', filename='img/PORTADA_CARD_2.png') }}" alt="portada 2" class="w-full h-full object-cover">
                <div class="portadas-card-overlay" aria-hidden="true"></div>
                <div class="numero-card">
                    <button type="button" class="numero-card-etiqueta">02</button>
                </div>
                <h1 class="titulo-card"><span class="titulo-card-line">Barra de</span><span class="titulo-card-line">sushi</span></h1>
                <p class="descripcion-card"><span class="descripcion-card-line">El escenario donde nace</span><span class="descripcion-card-line">la perfección técnica</span></p>
            </div>
            <div class="portadas-card full-rounded overflow-hidden">
                <img src="{{ url_for('static', filename='img/PORTADA_CARD_3.png') }}" alt="portada 3" class="w-full h-full object-cover">
                <div class="portadas-card-overlay" aria-hidden="true"></div>
                <div class="numero-card">
                    <button type="button" class="numero-card-etiqueta">03</button>
                </div>
                <h1 class="titulo-card"><span class="titulo-card-line">Cocktails &</span><span class="titulo-card-line">Rolls</span></h1>
                <p class="descripcion-card"><span class="descripcion-card-line">Armonía perfecta entre</span><span class="descripcion-card-line">la barra y cocina</span></p>
            </div>
        </div>
    </section>
    <section id="menu" class="seccion-base">
        <h1>MENÚ</h1>
        <br><br><br><br><br><br><br><br><br><br><br>
    </section>
    <section id="resenas" class="seccion-base">
        <h1>RESEÑAS</h1>
        <br><br><br><br><br><br><br><br><br><br><br>
    </section>
    <section id="reservas" class="seccion-base">
        <h1>RESERVAS</h1>
        <br><br><br><br><br><br><br><br><br><br><br>
    </section>
    <section class="seccion-base">
        <div id="sobre-nosotros" class="sobre-nosotros-content">
            
            <div class="sobre-nosotros-text">
                <h2>SOBRE NOSOTROS</h2>
                <p>En UMAI! fusionamos tecnología y gastronomía en una experiencia moderna inspirada en la estética japonesa.</p>
                <p>Creemos que el sushi es ritual: precisión, materia prima impecable y un ambiente pensado para que cada visita se sienta especial. Por eso trabajamos con un servicio detallista y una atmósfera nocturna, íntima y cuidada.</p>
                <p>🍣 うまい — “Delicioso”: porque cada detalle también forma parte de la experiencia. </p>
            </div>

            <div class="sobre-nosotros-image">
                <img src="{{ url_for('static', filename='img/LOCAL-UMAI.png') }}">
            </div>
        </div>
    </section>
</main>

<footer class="footer-umai">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='img/LOGO-FOOTER.png') }}" alt="Logo UMAI">
        </div>
        
        <div class="footer-redes">
            <a href="https://instagram.com/umai.ba" target="_blank"><i class="fa-brands fa-instagram"></i> @umai.ba</a>
            <a href="https://tiktok.com/@bs_umai" target="_blank"><i class="fa-brands fa-tiktok"></i> @bs_umai</a>
        </div>
        
        <div class="footer-info">
            <div class="footer-ubicacion">
                <p><strong>📍 Ubicación</strong></p>
                <p>Av. Alicia Moreau de Justo 210</p>
            </div>
            <div class="footer-horarios">
                <p><strong>🕕 Horarios</strong></p>
                <p>Lun - Dom: 18:30 hs a 1:00 hs</p>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p><i class="fa-solid fa-copyright"></i> 2026 UMAI. Todos los derechos reservados</p>
    </div>
</footer>


</body>
</html>